$halloween-orange: #dc6d00;
$halloween-dark: #904700;

$gab-brand-default: $halloween-orange;
$gab-text-highlight: lighten($halloween-orange, 20%);
$gab-secondary-text: #ccc;
$gab-placeholder-accent: #ccc;
$gab-background-base: darken($halloween-orange, 15%);

$action-button-color: #ccc;

$nav-ui-search-bg-color: lighten($halloween-orange, 20%);
