%p.whisper
  Support us by making a monthly donation.
  Select your amount ($ USD) from the options below.

%form.payform
  .btngroup{data: {sets: "#price", shows: "#paybtn"}}
    %button.btngroup__btn{type: "button", data: {value: "5.00"}} $5
    %button.btngroup__btn{type: "button", data: {value: "10.00"}} $10
    %button.btngroup__btn{type: "button", data: {value: "20.00"}} $20
    %button.btngroup__btn{type: "button", data: {value: "", shows: "#pricewrap", hides: ".btnlabel", focuses: "#price"}} Custom

  #pricewrap{style: "display: none;"}
    .dollarfield
      %span.dollarfield__symbol $
      %input#price.dollarfield__price{type: "number", autocomplete: "off", required: "true", min: "0.50", step: "0.01", value: "5.00", placeholder: "0.00", pattern: '[0-9,.]+'}

    %p.whisper
      Enter $5 or more to unlock <span class="badge badge--pro">Pro</span>

  .actions#paybtn(style="display: none;")
    %button.payform__btn.button(type="submit")
      %i.fa.fa-check(aria-hidden='true')
      Continue to payment
    %p.btnlabel You will unlock <span class="badge badge--pro">Pro</span>
