- if current_account.is_pro
  %p
    %span.badge.badge--pro Pro
    You have Pro!

.subs
  - for sub in @monthly_subs
    %div{class: "sub sub--#{sub.status}#{' sub--cancelling' if sub.cancel_at_period_end}"}
      .sub__title Plan
      .sub__amount $#{'%.2f' % (sub.quantity/100.0)}/mo
      .sub__billing
        %i.fa.fa-credit-card(aria-hidden="true")
        *#{sub.default_payment_method.card.last4}
      - if sub.cancel_at_period_end
        .sub__billing Ends on #{Time.at(sub.current_period_end).strftime("%b %e, %Y")}. Your card will not be charged.
        %a.sub__button.button.button--small{href: donate_reactivate_confirm_path(sub.id)}
          %i.fa.fa-refresh(aria-hidden="true")
          Reactivate
      - else
        .sub__billing Next charge: #{Time.at(sub.current_period_end).strftime("%b %e, %Y")}
        %a.sub__button.button.button--small{href: donate_edit_form_path(sub.id)}
          %i.fa.fa-edit(aria-hidden="true")
          Edit plan
        %a.sub__button.button.button--small{href: donate_cancel_confirm_path(sub.id)}
          %i.fa.fa-ban(aria-hidden="true")
          Cancel plan

- if current_account.is_pro
  .actions
    -# %a.button(href=settings_pro_url) Manage PRO
