- content_for :page_title do
  Edit plan

= form_with url: donate_edit_path, local: 'true' do |f|
  = hidden_field_tag(:sub_id, @sub.id)

  .dollarfield
    %span.dollarfield__symbol $
    %input.dollarfield__price{name: "amount", type: "number", autocomplete: "off", required: "true", min: "0.50", step: "0.01", value: @sub.quantity/100.0, placeholder: "0.00", pattern: '[0-9,.]+'}

  %div
    %i.fa.fa-credit-card(aria-hidden="true")
    *#{@sub.default_payment_method.card.last4}

  %p.whisper
    Your card will be charged on #{Time.at(@sub.current_period_end).strftime("%b %e, %Y")}.
    %br
    %br
    If you need to change the payment method, please <a href="#{donate_cancel_confirm_url}">cancel the plan</a> (select "cancel immediately") and start over.

  %button.button(type='submit')
    %i.fa.fa-check(aria-hidden='true')
    Update plan
