- content_for :header_tags do
  = javascript_include_tag "https://js.stripe.com/v3/"
  = javascript_pack_tag 'admin', integrity: true, async: true, crossorigin: 'anonymous'

- content_for :page_title do
  = t('settings.upgrade')

- if @monthly_subs.count > 0
  = render partial: "subs_list"
- else
  = render partial: "payment_form"
