- content_for :page_title do
  Reactivate plan?

= form_with url: donate_reactivate_path, local: 'true' do |f|
  = hidden_field_tag(:sub_id, @sub.id)

  .sub
    .sub__title Reactivating Plan
    .sub__amount $#{'%.2f' % (@sub.quantity/100.0)}/mo
    .sub__billing
      %i.fa.fa-credit-card(aria-hidden="true")
      *#{@sub.default_payment_method.card.last4}
    .sub__billing Next charge: #{Time.at(@sub.current_period_end).strftime("%b %e, %Y")}

  %p.whisper Your plan will be renewed and your card will be charged on #{Time.at(@sub.current_period_end).strftime("%b %e, %Y")}.

  %button.button(type='submit')
    %i.fa.fa-refresh(aria-hidden='true')
    Reactivate
