- content_for :page_title do
  = t('admin.accounts.change_email.title', username: @account.acct)

= simple_form_for @user, url: admin_account_change_email_path(@account.id) do |f|
  - if @current_user.admin?
    .fields-group
      = f.input :email, wrapper: :with_label, hint: false, disabled: true, label: t('admin.accounts.change_email.current_email')

  .fields-group
    = f.input :unconfirmed_email, wrapper: :with_label, label: t('admin.accounts.change_email.new_email')

  .actions
    = f.button :submit, class: "button", value: t('admin.accounts.change_email.submit')
