<%= raw t('application_mailer.salutation', name: display_name(@me)) %>

<%= raw t('admin_mailer.new_pending_account.body') %>

<%= @account.user_email.gsub(/.*@/, '******@') %> (@<%= @account.username %>)
<%= @account.user_current_sign_in_ip %>
<% if @account.user&.invite_request&.text.present? %>

<%= quote_wrap(@account.user&.invite_request&.text) %>
<% end %>

<%= raw t('application_mailer.view')%> <%= admin_pending_accounts_url %>
