@import 'gabsocial-light/variables';

$gab-brand-default: #34565c;
$gab-background-base-light: #f6fbfb;
$gab-background: $gab-background-base-light;
$ui-base-color: #e9f6f5;
$ui-highlight-color: $gab-brand-default;
$nav-ui-highlight-color: #2da8be;
$ui-base-lighter-color: darken(#2da8be, 35%);

@import 'application';
@import 'gabsocial-light/diff';

.public-layout {
  background: $gab-brand-default url("../images/neenster/fish.gif");

  .brand {
    filter: brightness(0%) invert(100%);
  }

  .brand__tagline {
    color: white;
  }

  .header .nav-link {
    color: white;
    &:hover, &:focus, &:active {
      color: $gab-background-base-light;
    }
  }
}

.floating-action-button {
  filter: hue-rotate(-108deg);
}
