- content_for :page_title do
  = t('dmca.title')

.content
  .box-widget
    .rich-formatting
      = @instance_presenter.site_dmca.html_safe.presence || t('dmca.body_html')
      %hr
      = mail_to Setting.site_contact_email
