- content_for :page_title do
  = t('privacy_policy.title')

.content
  .box-widget
    .rich-formatting
      = @instance_presenter.site_privacy_policy.html_safe.presence || t('privacy_policy.body_html', site_title: site_title, site_title_upcase: site_title.upcase)
      %hr
      = mail_to Setting.site_contact_email
