- content_for :header_tags do
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'

- content_for :content do
  .admin-wrapper
    .sidebar-wrapper
      .sidebar
        = link_to '/home' do
          = image_tag site_logo, alt: site_title, class: 'logo'

        = render_navigation
    .content-wrapper
      .content
        %h2= yield :page_title

        = render 'application/flashes'

        = yield

= render template: 'layouts/application'
